@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;700&display=swap%27");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

:root {
  --primary-bg: #121212;
  --secondary-bg: #151515;
  --text-color: #f5f5f5;
  --accent-color: darkseagreen;
  --accent-color-2: #437772;
  --rgba: rgba(12, 12, 12, 0.5);
}

.light {
  --primary-bg: #f5f5f5;
  --secondary-bg: #dddbdb;
  --accent-color: dimgray;
  --text-color: #121212;
  --rgba: rgba(245, 245, 245, 0.5);
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body.body {
  background: var(--primary-bg);
}

/* COMMON */
section {
  padding: 2rem 0;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

.fa_icon {
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.img-fluid {
  object-fit: cover;
  object-position: center;
}

/* MAVBAR */
.navbar_fluid {
  padding: 2rem 0;
  transition: all 0.3s;
  background: var(--primary-bg);
}

.navbar_fluid.sticky {
  padding: 0.5rem 0;
}

.navbar .logo {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
}

.navbar .logo span {
  color: var(--accent-color);
}

.navbar {
  z-index: 1;
}

.navbar .hamburger_menu {
  z-index: 1;
}

.navbar ul.inactive {
  margin-bottom: 0;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: calc(100% - 50%);
  height: 100%;
  background: var(--rgba);
  backdrop-filter: blur(5px);
  padding-top: 80px;
  line-height: 50px;
  transform: translateX(100%);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.navbar ul.active {
  margin-bottom: 0;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: calc(100% - 50%);
  height: 100dvh;
  background: var(--rgba);
  backdrop-filter: blur(5px);
  padding-top: 80px;
  line-height: 50px;
  transform: translateX(0);
  transition: all 0.3s;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li .link_item {
  text-decoration: none;
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.3s;
}

.navbar ul li .active {
  color: var(--accent-color);
  font-weight: 500;
}

.navbar ul li .link_item:hover {
  color: var(--accent-color);
}

/* HOME */
.home_section {
  color: var(--text-color);
  background: var(--primary-bg);
}

.home_section .row {
  align-items: center;
  flex-direction: column-reverse;
}

.home_section .mini_header {
  text-transform: uppercase;
  font-weight: bold;
}

.home_section .mini_header span {
  color: var(--accent-color);
}

.home_section .name {
  text-transform: uppercase;
  font-size: clamp(2rem, 1.3333rem + 2.963vw, 3.7rem);
  font-weight: bold;
}

.home_section .social_media {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.home_section .btn_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.home_section .btn_container .link {
  width: 100%;
}

.home_section .btn_container button {
  border: none;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: bold;
}

.home_section .btn_container .resume {
  background: var(--accent-color);
  color: var(--primary-bg);
  width: 100%;
}

.home_section .btn_container .get_in_touch {
  border: 1px solid var(--text-color);
  background: none;
  color: var(--text-color);
  width: 100%;
}

.home_section .img_container .img-fluid {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background: var(--accent-color);
}

.home_section .social_media .fa_icon {
  transition: all 0.3s;
}

.home_section .social_media .fa_icon:hover {
  color: var(--accent-color);
}

.home_section .col-md-6:last-child {
  display: flex;
  justify-content: center;
}

/* ABOUT */
.about_section {
  background: var(--secondary-bg);
  color: var(--text-color);
}

.about_section .col-md-6:first-child {
  display: none;
}

.about_section .img_container .img-fluid {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background: var(--accent-color);
}

.about_section .header {
  font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
  font-weight: bold;
  text-transform: capitalize;
}

.about_section .header span {
  color: var(--accent-color);
}

.about_section .right_col .tab {
  margin-top: 1rem;
}

.about_section .right_col .tab .category {
  display: flex;
  gap: 1rem;
  padding-left: 0;
  margin-right: 0;
}

.about_section .right_col .tab .category li {
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.about_section .right_col .tab .category li.active {
  color: var(--accent-color);
  font-weight: 700;
}

.about_section .tab .content {
  display: none;
}

.about_section .tab .show_content {
  display: block;
}

.about_section .tab h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.about_section .tech_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.about_section .tech_container .container {
  background: var(--primary-bg);
  padding: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto 0;
  position: relative;
}

.about_section .tech_container .container p {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.about_section .tech_container .container:hover .img-fluid {
  transform: scale(1.5);
}

.about_section .tech_container .container .img-fluid {
  width: 100%;
  max-width: 24px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
}

/* TECH SECTION */
.tech_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.tech_section .header {
  text-transform: capitalize;
  font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
  font-weight: bold;
}

.tech_section .header span {
  color: var(--accent-color);
}

.tech_section .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech_section .wrapper .img-fluid {
  width: 100%;
  max-width: 50px;
  transition: all 0.3s;
}

.tech_section .wrapper .img-fluid:hover {
  transform: scale(1.1);
}

/* EXPERIENCES */
.experience_section {
  background: var(--secondary-bg);
  color: var(--text-color);
}

.experience_section .header {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
}

.experience_section .year {
  font-weight: bold;
}

.experience_section .title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* PROJECTS */
.projects_section {
  background: var(--primary-bg);
  color: var(--text-color);
}

.projects_section .header {
  font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
  font-weight: bold;
  text-transform: capitalize;
}

.projects_section .header span {
  color: var(--accent-color);
}

.projects_section .card_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.projects_section .card_container:hover {
  background: var(--secondary-bg);
  box-shadow: 0 0 10px var(--accent-color);
  transform: translateY(-5px);
}

.projects_section .card_container .img-fluid {
  width: 100%;
  max-width: 500px;
}

.projects_section .card_container .card_title {
  font-weight: 700;
  text-transform: uppercase;
}

.projects_section .link_view_more {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-top: 1rem;
}

.projects_section button {
  color: var(--primary-bg);
  background: var(--accent-color);
  border: none;
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
  max-width: 150px;
  margin-top: 1rem;
  padding: 10px;
}

/* CONTACT */
.contact_section {
  background: var(--secondary-bg);
  color: var(--text-color);
}

.contact_section .header {
  font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
  text-transform: capitalize;
  font-weight: bold;
}

.contact_section .header span {
  color: var(--accent-color);
}

.contact_section .left_col .details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact_section .left_col .details .fa_icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.contact_section .left_col .link {
  text-decoration: none;
  color: var(--text-color);
}

.contact_section .right_col form {
  position: relative;
}

.contact_section .right_col form .form-control {
  box-shadow: none;
  border-radius: 0;
  border: transparent;
  background: var(--primary-bg);
  color: var(--text-color);
}

.contact_section .right_col form .form-control::placeholder {
  color: var(--text-color);
}

.contact_section .right_col form .btn_send button {
  background: var(--accent-color);
  color: var(--primary-bg);
  padding: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
  section {
    padding: 100px 0;
  }

  .navbar_fluid.sticky {
    background: var(--rgba);
    backdrop-filter: blur(5px);
    padding: 0.5rem 0;
  }

  .navbar ul.inactive,
  .navbar ul.active {
    position: unset;
    top: unset;
    right: unset;
    width: unset;
    max-width: unset;
    height: unset;
    background: unset;
    backdrop-filter: unset;
    padding-top: unset;
    line-height: unset;
    transform: unset;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }

  .navbar ul li {
    margin-right: 1rem;
  }

  .navbar ul li:last-child {
    margin-right: 0;
  }

  .navbar .hamburger_menu {
    display: none;
  }

  .home_section .row {
    flex-direction: row;
  }

  .home_section .btn_container .link {
    width: 40%;
  }

  .about_section .col-md-6:first-child {
    display: block;
  }

  .tech_section .wrapper .img-fluid,
  .other_tech_section .wrapper .img-fluid {
    max-width: 100px;
  }
}
